body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(./palindrome-useless-etymology-12.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: purple;
}

h1,
h2,
form,
button,
div,
h3 {
  align-self: center;
}
